.add-order {
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
  background-color: #5dc77d;
    margin-top:5%;
  }
  
  .add-order form {
    display: flex;
    flex-direction: column;
  }
  
  .add-order label {
    margin-bottom: 10px;
  }
  
  .add-order input[type="text"],
  .add-order input[type="date"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .register button {
    padding: 10px 20px;
    background-color: #00bb48;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  
  .register button:hover {
    background-color: #00bb48;
  }
  .hbtn{
    position: absolute;
    top:82%
  }

  #regbtnapp{
    width: 200px;
    height: 50px;
    margin-top:50px;
  }