.navbardr{
  background-color: rgb(220, 233, 217);
  
}

.navicondr{
  color: rgba(22, 26, 23, 0.784);
}

.navbardr a {
  margin-right: 30px; /* Adjust the value as needed */
}

.navbardr{
  padding: 0.8%;
}
