/* healthupdate.css */

.order-update {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%; /* Set width to 100% */
}

.order-update h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.order-update label {
  display: block;
  margin-bottom: 5px;
  background-color: #007bff;
  
}

.order-update input {
  width: calc(100% - 16px); /* Adjust input width to fill container with padding */
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.order-update button {
  width: 100%; /* Set button width to 100% */
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.order-update button:hover {
  background-color: #0056b3;
}
