.paymenttable {
    width: 100%;
    border-collapse: collapse;
}

.headerrowfn {
    background-color: #f2f2f2;
}

.headerfn, .cellfn {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table-container {
    overflow-x: auto;
    max-width: 100%;
    border: 1px solid #ddd;
}


.table-container {
    overflow: visible; /* Change overflow to visible */
}

.paymenttable {
    width: 100%; /* Set table width to 100% */
    table-layout: auto; /* Use automatic table layout */
}

.cellfn {
    word-wrap: break-word; /* Enable word wrapping for long text */
}

.searchbtnfn {
    margin-bottom: 40px;
}

.infn {
    padding: 5px;
    margin-right: 5px;
}

#search-btnfn {
    padding: 10px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

#search-btnfn:hover {
    background-color: #0056b3;


}


button {
    width: 90%;
    height: 60%;
    padding: 5px 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
