.cards{
    display: flex;
    flex-direction: column;
    gap: 4%;
    height: 100%;
    width: 80%
}

.layout{
    display: flex;
    height: 80%;
    width: 100%;
}

.paysummary{
    width: 100%;
    height: 100%;
}

.card{
    display: flex;
    
}

.cardradio{
    display: flex;
}

.crdbtn{
    
}

.addcrdlink{
    color: red;
    text-decoration: none;
}

.selected{
    background-color: rgba(255, 255, 255, 0.699);
}

.ordersummaryfn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 5%;
    margin-top: 5%;
}

.paysummary{
    margin-top: 2%;
}

