.paid{
    visibility: hidden;
}

.showordersfn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-bottom: 0%;
}

.viewnavfn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    
}


.viewtablefn{
    display: flex;
    margin-top: 5%;
    

}

.paymenttable{
    border-collapse: separate;
    border: 1px solid black;
}

.headerrowfn{
    text-align: left;
    
}

.headerfn,
.cellfn {
    border: 1px solid black; /* Add a 1px solid black border */
    padding: 8px; /* Optional: Add padding for better spacing */
}










