.navbar {
    background-color: #d4cfcf;
    overflow: hidden;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #040404;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: #333;
  }
  