/* Navigation Bar Container */
.navbardrlm {
    display: flex;
    padding-left: 30px;
    align-items: left;
    background-color: rgb(220, 233, 217);
    padding-bottom: 10px;
    padding-top: 10px;
}

/* Navigation Icon */
.navicon-drlm {
    color: rgba(22, 26, 23, 0.784);
    text-decoration: none;
    margin: 0 20px; /* Adjust spacing as needed */
    transition: color 0.3s ease;
}

.navbardrlm:hover {
    color: rgb(127, 130, 128); /* Change color on hover */
}

/* Optional: Add underline effect on hover */
.navbardrlm:hover b {
    text-decoration: underline;
}

  .navbardrlm a {
    margin-right: 30px; /* Adjust the value as needed */
  }

