.register {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #8df9a3;
}

.register h2 {
  text-align: center;
  margin-bottom: 20px;
}

.register form {
  display: flex;
  flex-direction: column;
}

.register label {
  margin-bottom: 5px;
}

.register input[type="text"],
.register input[type="password"] {
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #000000;
  border-radius: 5px;
}

.register button {
  padding: 10px 20px;
  background-color: #00bb48;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.register button:hover {
  background-color: #006134;
}

.register a {
  text-align: center;
  display: block;
  margin-top: 15px;
  color: #007bff;
  text-decoration: none;
}

.register a:hover {
  text-decoration: underline;
}
